.auth-layout {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    flex-direction: column;

    .sidebar {
      display: flex;
      max-width: 100%;
      height: auto;

      .side-menu {
        height: auto;
        width: 100%;
        padding: 0;
        overflow-y: hidden;
      }

      .list-unstyled {
        display: flex;
        flex-direction: row !important;
        padding: 0 !important;
        justify-content: space-between;
        width: 100%;

        li {
          padding: 1rem;
        }
      }
    }
  }
}
