.order-wrapper {
  padding-top: 2rem;

  > dv:first-child {
    margin-bottom: 2rem;
  }

  .margin-left {
    margin-left: 1rem;
  }

  .program-wrapper {
    margin-bottom: 1rem;
  }

  .submit {
    margin-bottom: 1rem;
  }
}
